// custom.scss

// Custom Bootstrap variable overrides go first
// --
$font-family-sans-serif: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
Roboto, 'Helvetica Neue', Arial, sans-serif;

$body-bg: #FFFAFA;
$dark: #212529;
$link-color: #000;

$font-size-base: 1.25rem;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;

$headings-font-weight: 500;

$navbar-nav-link-padding-x: 0.5rem;

$navbar-padding-x: 0;
// $navbar-padding-y: 2rem;
$navbar-light-color: #000;


// Then include the following
// @import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap/scss/bootstrap-grid.scss';
@import 'bootstrap/scss/bootstrap-reboot.scss';
@import 'bootstrap/scss/_utilities.scss';
@import 'bootstrap/scss/_type.scss';
@import 'bootstrap/scss/_images.scss';
@import 'bootstrap/scss/_buttons.scss';
@import 'bootstrap/scss/_card.scss';
@import 'bootstrap/scss/_nav.scss';
@import 'bootstrap/scss/_navbar.scss';


@import 'bootstrap-vue/src/index.scss';

// And define any of your custom or additional CSS/SCSS here,
// or via an @import
// --

// @include media-breakpoint-up(sm) { ... }
// @include media-breakpoint-up(md) { ... }
// @include media-breakpoint-up(lg) { ... }
// @include media-breakpoint-up(xl) { ... }

// @media (prefers-color-scheme: dark) {
//     body {
//         background-color: $dark;
//         color: $white;
//     }
//     a, .navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
//         color: $gray-200;
//         &:hover, &:focus, &:active {
//             color: $gray-200;
//             text-decoration: underline;
//         }
//     }
// }

h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.03em;
    
    a {
        text-decoration: none;
        &:hover, &:focus, &:active {
            text-decoration: underline;
        }
    }
}

p a {
    text-decoration: underline;
    &:hover, &:focus, &:active {
        color: $black;
    }
    &.btn {
        text-decoration: none;
        &:hover, &:focus, &:active {
            color: #fff;
        }
    }
}

.nav-item {

    &:first-child .nav-link {
        padding-left: 0rem;
    }

    @include media-breakpoint-up(md) {
        &:last-child .nav-link {
                padding-right: 0;
        } 
        
    }

    a {
        font-weight: 500;
        font-size: 1rem;
        text-decoration: none;

        &:hover, &:focus, &:active {
            text-decoration: underline;
        }
    }
}

.project {
    .project-heading {
        @include media-breakpoint-up(md) {
            margin-bottom: 1rem; 
        }
    }
}
.main {
    &.page-enter-active, &.page-leave-active {
        transition: opacity .2s;
      }
      &.page-enter, &.page-leave-to {
        opacity: 0;
      }

}

.main-content {

    img {
        max-width: 100%;

        @extend .my-3;
        @extend .my-md-5;
    }
}

.card {
    border: 0;
    border-bottom: 1px solid $gray-400;
    border-radius: 0;
    background: none;
    
    @include media-breakpoint-down(sm) {
        .card-body {
            padding-left: 0;
            padding-right: 0;
        }
    }
}